@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --header-height: 80px;
    --header-border: 2px;
    --logo-offset: 80px;

    /* content */

    --code-width: 70vw;

    /* Colors */
    --primary-color: #35384d;
    --secondary-color: #b1b9ff;
    --tertiary-color: #d1d6ff;

    --background-color: #ffffff;
}

html,
body,
header {
    font-family: "Roboto", sans-serif;
}

header {
    background: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    border-bottom: var(--header-border) solid var(--primary-color);
}

header img {
    height: 100%;
    margin-left: var(--logo-offset);
}

#content {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: calc(var(--header-height) + var(--header-border));
    color: var(--primary-color);
    background: var(--background-color);
    height: calc(100vh - var(--header-height) - var(--header-border));
    width: 100vw;
}

#code {
    font-family: "Courier New", monospace;
    font-size: 1.2em;
    color: var(--primary-color);
    margin-top: auto;
    height: 100%;
    width: 70vw;
    border: none;
    border-right: var(--header-border) solid var(--primary-color);
    resize: none;
    outline: none;
}

#debugger {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

#debugger-bar {
    width: 100%;
    height: 25px;
    border-bottom: var(--secondary-color) 2px solid;
    color: var(--secondary-color);
}

#debugger-bar p {
    margin: 0;
    width: fit-content;
    padding-right: 30px;
}

#debugger-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    color: var(--background-color);
}
